#--------------------------#
# Magento Default Files    #
#--------------------------#

/app/etc/local.xml
/app/etc/env.php

/media/
/skin/

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

.modgit/
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/.htaccess
/cron.php
/cron.sh
downloader/
errors/
favicon.ico
get.php
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
.ftpquota
.htaccess
.htaccess.sample
/api.php
bridge.php
bridge1.php
error_log
robots.txt
sm_config.php
sm_tunnel.php
/.idea/
/sitemap.xml
thubservice.php
thubtest.html
/corteclean
dwsync.xml\nThumbs.db\n
*_notes/
sql/
sql/backup/
media/webforms/
et --merge ORIG_HEAD
help
feeds/
mail/
stage/
tmp/
dev2/
dev3/
live/
nginx.conf.sample
package.json.sample
Gruntfile.js.sample
pub/static/*
pub/errors/*
pub/media/*