<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../../../app/code/Magento/Config/etc/system_file.xsd">
    
    <system>
        
        <!-- master tab -->
        
        <tab id="wyomind" translate="label" sortOrder="1000000">
            <label><![CDATA[<span class='wyomind-logo'>Wyomind</span>]]></label>
        </tab>
        
            
        <section id="googletrustedstores" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label><![CDATA[<span class='gts-logo'>Google Trusted Stores</span>]]></label>
            <tab>wyomind</tab>
            <resource>Wyomind_GooglesTrustedStores::googletrustedstores_config</resource>
            
            <!-- License -->
            
            <group id="license" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>License activation</label>
                <field id="extension_version" translate="label" type="link" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Extension version</label>
                </field>
                <field id="activation_key" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Activation key</label>
                    <comment>1- Fill this field with your activation key.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="get_online_license" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Remote Activation</label>
                    <comment><![CDATA[2- Choose your activation method.<br/>[yes = automatic activation]<br/>[no = manual activation]]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="activation_code" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Activation code</label>
                    <comment>3 - Follow the instructions in the nofication.\nThen fill this field with the license code you get.</comment>
                    <depends>
                        <field id="get_online_license">0</field>
                    </depends>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="activation_flag" translate="label" type="hidden" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Wyomind\Core\Block\Adminhtml\System\Config\Form\Field\ActivationFlag</frontend_model>
                </field>
            </group>
            
            <group id="gts" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Google Trusted Stores Settings</label>
                <field id="gts_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Google Trusted Stores Account Id</label>
                    <comment>Fill this field with your google trusted stores id</comment>
                </field>
                <field id="gb_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Google Merchant Account Id</label>
                    <comment>Fill this field with your google merchant id</comment>
                </field>
                <field id="country" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="language" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Language</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale</source_model>
                </field>
                <field id="badge_position" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Trusted Stores Badge position</label>
                    <source_model>Wyomind\GoogleTrustedStores\Model\Config\Source\BadgePosition</source_model>
                </field>
                <field id="badge_container_css" translate="label comment" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Trusted Stores Badge container style</label>
                    <comment>Css rules to apply to the container</comment>
                    <depends>
                        <field id="badge_position">USER_DEFINED</field>
                    </depends>
                </field>
                <field id="gs_product_id" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Google shopping products id</label>
                    <source_model>Wyomind\GoogleTrustedStores\Model\Config\Source\ProductIdentifier</source_model>
                </field>
            </group>
            
            <group id="gts_orders" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Orders confirmation page settings</label>
                <field id="use_edd_module" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Estimated Delivery Date module</label>
                    <comment>WHAT_IS_EDD</comment>
                    <source_model>Wyomind\GoogleTrustedStores\Model\Config\Source\UseEDD</source_model>
                </field>
                <field id="eta" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Estimated delivery date offset</label>
                    <comment>Days to add to the order date (default 0)</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="eta_ship" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Estimated shipment date offset</label>
                    <comment>Days to add to the order date (default 0)</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
            
            <group id="testing_tools" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Testing and debugging tools (for developers only)</label>
                <field id="test_badge" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test badge code</label>
                    <frontend_model>Wyomind\GoogleTrustedStores\Block\Adminhtml\System\Config\Form\Field\TestBadgeLink</frontend_model>
                </field>
                <field id="test_order" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test order confirmation page code</label>
                    <frontend_model>Wyomind\GoogleTrustedStores\Block\Adminhtml\System\Config\Form\Field\TestOrderLink</frontend_model>
                </field>
            </group>
            
        </section>
    </system>
</config>
